$blue: hsl(233, 26%, 24%);
$gray600: hsl(233, 8%, 62%);
$gray100: hsl(220, 16%, 96%);
$gray50: hsl(0, 0%, 98%);
$white: hsl(0, 100%, 100%);
$green: hsl(136, 64%, 51%);

footer {
  width: 100%;
  height: auto;
  background-color: $blue;
}

.footer_logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_img {
  margin-top: 50px;
  margin-bottom: 30px;
}

.logo_container {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.footer_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $white;
  margin-bottom: 30px;
}

.options_one,
.options_two {
  text-align: center;
}

.footer_options p {
  cursor: pointer;
  margin-bottom: 20px;

  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: $green;
  }
}

.socialIcons {
  cursor: pointer;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.button_container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.request_btn {
  height: 50px;
  width: 180px;

  font-size: 16px;
  font-weight: 600;
  color: $white;
  border: none;
  border-radius: 30px;
  margin-bottom: 20px;

  background: #2cb6d8;
  background: linear-gradient(
    15deg,
    rgba(44, 182, 216, 1) 0%,
    rgba(50, 210, 93, 1) 73%
  );

  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(
      15deg,
      rgba(44, 182, 216, 0.9) 0%,
      rgba(50, 210, 93, 0.9) 73%
    );

    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }
}

.digital_bank {
  margin-bottom: 40px;
  color: $gray600;
}

@media only screen and (min-width: 992px) {
  footer {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer_logos {
    height: 100%;
    justify-content: space-around;
  }

  .options_one,
  .options_two {
    text-align: left;
  }

  .footer_img {
    margin: 0;
  }

  .logo_container {
    margin-bottom: 0;
  }

  .footer_options {
    height: 100%;

    flex-direction: row;
    gap: 80px;

    margin-bottom: 0;
  }

  .footer_options p {
    margin-bottom: 30px;
  }

  .button_container {
    height: 100%;
    justify-content: space-around;
  }

  .digital_bank {
    margin-bottom: 0;
  }
}
