@use "./main" as *;

.hero_container {
  background: $gray50;

  width: 100%;

  display: flex;
  align-items: center;
  position: relative;
}

.background_container {
  height: 375px;
  width: 100%;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url("../../public/images/bg-intro-mobile.svg");

  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.mobile_phone {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  height: auto;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.header_box {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.header_body {
  margin-bottom: 30px;
  margin-top: 330px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_hero {
  color: $blue;
  font-size: 46px;

  width: 100%;
  text-align: center;
  font-weight: 600;

  margin-bottom: 25px;

  padding-left: 25px;
  padding-right: 25px;
}

.header_prg {
  width: 100%;
  max-width: 480px;

  text-align: center;

  color: $gray600;
  font-weight: 500;

  line-height: 25px;
  margin-bottom: 25px;

  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (min-width: 768px) {
  .header_box {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .header_box {
    max-width: 1240px;
  }

  .hero_container {
    height: 500px;
  }

  .background_container {
    width: 850px;
    height: 500px;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);

    background-image: url("../../public/images/bg-intro-desktop.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center left;
  }

  .mobile_phone {
    width: 100%;
    max-width: 675px;
    margin: 0 auto;
    height: auto;

    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
  }

  .header_body {
    width: 40%;
    margin: 0;
  }

  .header_hero,
  .header_prg {
    text-align: left;
  }

  .button_containered {
    width: 100%;

    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .background_container {
    width: 900px;
    left: 80%;
  }
}
